<!DOCTYPE html>
<html lang="en">
    <%- include('./head.ejs') %>
<body>
    <%- include('./navbar.ejs') %>
    <div class="container">
        <div class="card my-4">
            <img 
                src="<%= blog.poster %>" 
                class="card-img-top" 
                alt="<%= blog.title %>"
                style="height: 600px; object-fit: cover"
            >
            <div class="p-4 d-flex justify-content-end align-items-center">
                <a href="/blogs/edit/<%= blog._id %>">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
                <form action="/blogs/delete/<%= blog._id %>?_method=DELETE" method="post" >
                    <button type="submit" class="ms-4" id="delete-handler">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </form>
            </div>
            <div class="card-body mt-4">      
                <p class="card-text text-end">
                    <small class="text-muted"><%= blog.category %></small>
                </p>
                <h5 class="card-title text-center"><%= blog.title %></h5>
                <p class="card-text text-center"><%= new Date(blog.createdAt).toLocaleDateString() %></p>
                <p class="card-text p-5"><%= blog.text %></p>
            </div>
        </div>
    </div>
</body>
</html>